.dropDown {
  position: relative;

  /* contain: layout; */
}

.dropdownButtons {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: #d9d9d9;
  border: none;
  border-radius: 1em;
  padding: 2px 5px;
  cursor: pointer;
  text-wrap: nowrap;
  flex-basis: content;
}

.dropdownButtons > span {
  margin-left: auto;
}

.sorterdesktop {
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border: 2px solid black;
  border-radius: 2em;
  padding: 2px 2px;
  cursor: pointer;
  text-wrap: nowrap;
  margin-left: auto;
  font-size: 10px;
  min-width: auto;
  flex-wrap: nowrap;
}

.sortermobile {
  box-sizing: content-box;
  display: none;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border: 2px solid black;
  border-radius: 2em;
  padding: 2px 2px;
  cursor: pointer;
  text-wrap: nowrap;
  margin-left: auto;
  font-size: 12px;
  min-width: auto;
  flex-wrap: nowrap;
}

.dropDownMenu {
  width: 100px;
  height: 100px;
  top: 10px;
}

/* [popover] {
  inset: unset;
  top: anchor(bottom);
  left: anchor(center);
  translate: -50%;
} */

.dropDownList {
  list-style: none;
  background-color: aqua;
  text-align: center;
}
.dropDownList > li {
  margin-top: 5px;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1000px) {
}

/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  .dropdownButtons {
    flex-shrink: 1;
    min-width: 180px;
    max-width: 190px;
  }
  .dropdownButtons > span {
    margin: unset;
  }
  .sortermobile {
    margin-left: unset;
  }
  .sorterdesktop {
    display: none;
    margin: unset;
  }
}

/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .sorterdesktop {
    display: none;
  }
  .sortermobile {
    display: flex;
  }
}

/* Extra small devices (phones, 380px and down) */
@media only screen and (max-width: 380px) {
  .sorterdesktop {
    display: none;
  }
  .sortermobile {
    display: flex;
  }
}
@media only screen and (max-width: 280px) {
  .sorterdesktop {
    display: none;
  }
  .sortermobile {
    display: flex;
  }
}
