.dropDown {
  position: relative;

  /* contain: layout; */
}

.dropdownButtons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #d9d9d9;
  border: none;
  border-radius: 1em;
  padding: 2px 5px;
  cursor: pointer;
  text-wrap: nowrap;
}

.dropDownMenu {
  width: 100px;
  height: 100px;
  /* background-color: #eee; */
  /* position: absolute; */
  top: 10px;
}

/* [popover] {
  inset: unset;
  top: anchor(bottom);
  left: anchor(center);
  translate: -50%;
} */

.dropDownList {
  list-style: none;
  background-color: aqua;
  text-align: center;
}
.dropDownList > li {
  margin-top: 5px;
}
