.brandingContainer {
  display: flex;
  gap: 0.5em;
  align-items: center;
  margin: 2%;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1000px) {
}

/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
}

/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 380px) {
}
