.cartProduct {
  padding: 1%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.seperator {
  background-color: black;
  height: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mobileOrderBtn {
  width: 100%;
  margin-top: 20px;
  padding: 3%;
  font-size: 1.2em;
  background-color: #ffd600;
  border: none;
  border-radius: 8px;
  font-weight: 600;
}

.productimage {
  width: 100px;
  object-fit: contain;
  aspect-ratio: 1/1;
  border: 2px solid black;
  border-radius: 8px;
}
.quantity {
  width: 60%;
  padding: 1%;
}
.title {
  margin-bottom: 5px;
  margin-top: 10px;
  text-align: unset;
}

.cartPriceTotal {
  border-top: 2px solid #e1e1e1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.totalElements {
  margin-top: 10px;
  font-weight: 600;
}

.tallyContainer {
  margin-top: 10px;
  border-left: 2px solid #e1e1e1;
  padding: 1%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 1fr);
  height: 20em;
}

.numerics {
  margin-left: auto;
}
.orderBtn {
  background-color: #ffd600;
  font-weight: 600;
  border: none;
  padding: 3%;
  grid-area: -1/1 / span 1 / span 2;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 10px;
}

.priceBox > h3 {
  margin-top: none;
}

.dummyBox {
  display: none;
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1000px) {
}

/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  .cartProductsList {
    border: none;
    background-color: #dbdbdb;
  }
  .cartPriceTotal {
    border: none;
    display: none;
  }
  .tallyContainer {
    border: none;
  }
  .tallyContainer > h3 {
    margin-top: 0;
    text-align: unset;
  }
  .quantity {
    display: none;
  }
  .cartProduct {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #dbdbdb;
    margin-bottom: 5px;
    border-radius: 8px;
  }
  .priceBox {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .priceBox > h3 {
    margin: 0;
  }
  .productimage {
    border: none;
  }

  .mobilePriceBox {
    display: none;
  }
  .dummyBox {
    display: unset;
  }
  .bar {
    background-color: black;
    width: 95vw;
    height: 2px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .cartProductsList {
    border: none;
    background-color: #dbdbdb;
  }
  .cartPriceTotal {
    border: none;
    display: none;
  }
  .tallyContainer {
    border: none;
  }
  .tallyContainer > h3 {
    margin-top: 0;
    text-align: unset;
  }
  .quantity {
    display: none;
  }
  .cartProduct {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #dbdbdb;
    margin-bottom: 5px;
    border-radius: 8px;
  }
  .priceBox {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .priceBox > h3 {
    margin: 0;
  }
  .productimage {
    border: none;
  }

  .mobilePriceBox {
    display: none;
  }
  .dummyBox {
    display: unset;
  }
  .bar {
    background-color: black;
    width: 95vw;
    height: 2px;
  }
}

/* Extra small devices (phones, 380px and down) */
@media only screen and (max-width: 380px) {
}

@media only screen and (max-width: 280px) {
}
