.formContainer {
  width: 70%;
  min-height: 60vh;
  /* background-color: bisque; */
}
.formObjs {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #e1e1e1;
  padding: 1%;
}
.formLabels {
  color: #b52b00;
  font-weight: 500;
}
.error {
  color: red;
  font-size: 11px;
}

.addressblock {
  font-family: "Roboto", sans-serif;
  resize: none;
  border: 1px solid #919191;
  border-radius: 4px;
  margin-top: 1%;
  height: 5em;
  width: 20em;
}

.modeOfPay {
  height: 2em;
  width: 20em;
  border: 1px solid #919191;
  border-radius: 4px;
}

.orderSummery {
  width: 20em;
  /* background-color: aqua; */
}

.orderSummeryimages {
  width: 30%;
  margin: 1%;
  border: 2px solid black;
  border-radius: 8px;
}

.productList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.submitBox {
  border: 2px solid #e1e1e1;
  border-radius: 8px;
  margin-top: 10px;
  display: flex;
  padding: 1%;
  justify-content: space-evenly;
}

.submitBtn {
  background-color: #ffd600;
  padding: 0 3%;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.detaiFont {
  color: #797979;
}

.tallyContainer {
  border: 2px solid #e1e1e1;
  /* background-color: antiquewhite; */
  width: 22%;
  height: 17em;
  margin: 1%;
  border-radius: 8px;
  padding: 0 1%;
}

.tallyContainer > h3 {
  margin-top: 0px;
}

.odrContiner {
  /* background-color: #919191; */
  width: 100%;
  border-bottom: 2px solid #e1e1e1;
  margin-top: 2%;
  margin-bottom: 2%;
}
.odrContiner > h3 {
  text-align: start;
}

.ordBoxSubmit {
  width: 94%;
  margin: 3%;
  height: 2em;
  background-color: #ffd600;
  padding: 0 3%;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1.2em;
}

.tnc {
  font-size: 11px;
  text-align: center;
  margin-bottom: 10px;
}

.tallyGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  color: #797979;
  margin-top: 5%;
  margin-bottom: 5%;
}
.tallyChildren {
  margin-left: auto;
}

.total {
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #b52b00;
  font-weight: 500;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1000px) {
}

/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  .formObjs {
    flex-direction: column;
    width: 100%;

    /* background-color: red; */
  }
  .formContainer {
    width: 100%;
    margin-bottom: 0;
    /* background-color: palegoldenrod; */
  }
  .submitBox {
    display: none;
  }
  .tallyContainer {
    width: 100%;
    margin-bottom: 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Extra small devices (phones, 380px and down) */
@media only screen and (max-width: 380px) {
}

@media only screen and (max-width: 280px) {
}
